################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Expenses.API/.vs
/Expenses.API/Expenses.API/bin/Debug/net8.0
/Expenses.API/Expenses.API/obj
/ExpensesTracker/Expenses.API/.vs
/ExpensesTracker/Expenses.API/Expenses.API/bin/Debug/net8.0
/ExpensesTracker/Expenses.API/Expenses.API/obj
